*{
	margin: 0px;
	padding: 0px;
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_1280.jpg);
    background-repeat: repeat;
}

/*background-image: url(background-image: url(https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_1280.jpg););*/

.h1{
	width: 100%;
	height: 85px;
    font-family: calibri;
}

.text {
    text-align:  center;
    font-size: 420%;
    color: rgb(241, 56, 23);
    font-family: calibri;
}

.b1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}

#img1{
    background-image: url(https://dota2.ru/img/heroes/tinker/portrait.jpg);
    width: 235px;
    height: 272px;
}

#t1{
    margin: 15px;
    font-size: 400%;
    color: rgb(49, 151, 116);
    font-family: calibri;
}

.li1{
    list-style-type: none;
    margin: 15px;
    font-size: 150%;
    color: rgb(49, 151, 116);
    font-family: calibri;
}

.b2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}

#t2{
    padding-left:  15px;
    padding-top:  15px;
    color: rgb(49, 151, 116);
    font-family: calibri;
}

.li2{
    list-style-type: none;
    padding-left:  15px;
    padding-bottom:  8px;
    font-size: 150%;
    color: rgb(49, 151, 116);
    font-family: calibri;
}

.li3{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
    margin-left: 15px;
    padding-left:  15px;
    padding-right: 15px;
    padding-bottom:  8px;
    font-size: 150%;
    color: rgb(49, 151, 116);
    font-family: calibri;
}

#li33{
    list-style-type: disc;
    padding-left: 50px;
}

A {
    color: rgb(5, 109, 72); /* Цвет ссылок */
   }
   A:visited {
    color: rgb(5, 109, 72); /* Цвет посещенных ссылок */
   }
   A:active {
    color: rgb(5, 109, 72); /* Цвет активных ссылок */
   }
   